# This is a comment.
# Each line is a file pattern followed by one or more owners.
# For more details, visit https://help.github.com/articles/about-codeowners/
# The lists of people and groups are for github.com

# All members are supposed to review each other
*                                             @myeong-jeong @jyong2-kim @jihun-ha @bg-chun @johyuna @wansu-yoo @h-w-park @chacha @sewon-oh @hs2-cho 
